﻿@model Guestbook.Models.Message
@{
    ViewBag.Title = "Добавить сообщение";
}
<div id="guestbookBody">
    <div class="row">
        <div class="col-sm-12">
            <h3>@ViewBag.Title</h3>
        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "createMessageForm", @class = "form-horizontal col-sm-12 col-md-10 col-lg-8" }))
        { 
            @Html.ValidationSummary(true, null, new { @class = "text-danger" })
            <div class="form-group">

                @Html.LabelFor(m => m.User.Name, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.User.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.User.Name, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">

                @Html.LabelFor(m => m.User.Email, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.User.Email, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">

                @Html.LabelFor(m => m.User.Homepage, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.User.Homepage, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.User.Homepage, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">

                @Html.LabelFor(m => m.Text, new { @class = "col-sm-4 control-label" })
                <div class="col-sm-8">
                    @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Text, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button id="createMessageBtn" type="submit" class="btn btn-primary">Добавить</button>
                    <button id="clearMessageBtn" type="button" class="btn btn-default">Очистить</button>
                    <a class="btn btn-default" href="@ViewBag.RedirectUrl">Отмена</a>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Guestbook.js"></script>
    <script>
        var guestbook = new Guestbook();
        guestbook.setCreateMessageFormEvents();
    </script>
}
