﻿@model Guestbook.Models.GuestbookViewModel
<div class="row">
    <div class="col-sm-12">
        <h3>@Model.Title</h3>
    </div>
</div>
<div class="row guestbok-add-btn">
    <div class="col-sm-12">
        <a class="btn btn-default" href="@Url.Action("CreateMessage", "Home")">Добавить сообщение</a>
    </div>
</div>
@if (Model.Messages.Count > 0)
{
    <div class="row guestbook-list-holder">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="guestbok-list-header clearfix">
                @foreach (var link in Model.HeaderLinks)
                {
                    var active = string.Empty;
                    if (link.ActiveDirection != null)
                    {
                        active = link.ActiveDirection.ToString().ToLower();
                    }
                    <a href="@Url.RouteUrl(link.RouteValues)" class="@active">
                        @link.Name
                        <i class="glyphicon glyphicon-menu-up"></i>
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </a>
                }
            </div>
            <ul class="media-list guestbok-list-content">
                @foreach (var message in Model.Messages)
                {

                    <li class="media">
                        <div class="media-body">
                            <h4 class="media-heading clearfix">
                                <span class="message-name">@message.User.Name</span>
                                <span class="message-email">@message.User.Email</span>
                                <span class="message-created-date">@message.CreatedDate</span>
                            </h4>
                            <p class="message-text">
                                @message.Text
                            </p>
                        </div>
                    </li>}
            </ul>

        </div>
    </div>
}
@if (Model.Pagination.LastPage > 1)
{
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8 text-center">
            @{ Html.RenderPartial("_Pagination", Model.Pagination); }
        </div>
    </div>
}