﻿@model Guestbook.Models.Pagination
<ul class="pagination pagination-sm">
    @for (var i = 0; i < Model.Pages.Count; i++)
    {
        <li class="@(Model.Pages[i].IsCurrenPage ? "active" : "") @(Model.Pages[i].Disabled ? "disabled" : "")">
            <a href="@Url.RouteUrl(Model.Pages[i].RouteValues)">@Html.Raw(Model.Pages[i].Caption)</a>
        </li>
    }
</ul>
<!--
<div class="pull-right">
    Всего @Model.ItemsAmount / На странице @Model.CurrentPageItemsAmount
</div> 
-->  

