﻿body {
    padding-top: 50px;
    font:14px/20px Arial, Verdana, Helvetica, sans-serif;
}
/* Кнопка добавить */
.guestbok-add-btn {
    margin-top: 15px;
    margin-bottom: 15px;
}
/* Заголовки списка */
.guestbok-list-header {
    padding: 6px;
}
.guestbok-list-header a {
    display: block;
    float: left;
    width: 120px;
    margin-right: 10px;
    font-size: 12px;
}
.guestbok-list-header .glyphicon-menu-up,
.guestbok-list-header .glyphicon-menu-down {
    display: none;
} 
.guestbok-list-header a:hover .glyphicon-menu-up {
    display: inline-block;
}

.guestbok-list-header .desc .glyphicon-menu-up {
    display: none;
}
.guestbok-list-header .desc .glyphicon-menu-down {
    display: inline-block;
}
.guestbok-list-header .desc:hover .glyphicon-menu-up {
    display: inline-block;
}
.guestbok-list-header .desc:hover .glyphicon-menu-down {
    display: none;
}

.guestbok-list-header .asc .glyphicon-menu-up {
    display: inline-block;
}
.guestbok-list-header .asc .glyphicon-menu-down {
    display: none;
}
.guestbok-list-header .asc:hover .glyphicon-menu-up {
    display: none;
}
.guestbok-list-header .asc:hover .glyphicon-menu-down {
    display: inline-block;
}
/* Список сообщений */
.guestbook-list-holder .media{
    border: 1px solid #B9D8F7;
    padding: 1px;
}
.guestbook-list-holder .media-heading {
    background-color: #d9f3ff;
    font-size: 12px;
    padding: 4px;
}
.guestbook-list-holder span {
    display: block;
    float: left;
    width: 120px;
    margin-right: 10px;
} 
.guestbook-list-holder .message-name,
.guestbook-list-holder .message-email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.guestbook-list-holder .message-name {
    color: #01a651;
}
.guestbook-list-holder .message-created-date {
    color: #939598;
    font-size: 11px;
}
.guestbook-list-holder .message-text {
    padding: 5px;
    word-break: break-all;
}
